@model IEnumerable<ProyectoGaleria.Models.Artista>
@{
    ViewData["Title"] = "Lista de Artistas";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/css/galeriaimg.css" rel="stylesheet">
<h1>
    Lista de Artistas
    <img src="~/img/logo.png" alt="" width="45" height="40">
</h1>

<section id="gallery">
    <div class="container">
        <form asp-action="Buscar" class="form-inline my-1 my-lg-0">
            <input name="filtroapellido" class="form-control mr-sm-1" type="search" placeholder="Buscar por Apellido" aria-label="Search">
            <button class="btn btn-outline-success my-1 my-sm-0 text-dark" type="submit">Buscar</button>
        </form>
        <div class="row">
            @foreach (var item in Model)
            {
                <div class="col-lg-4 mb-4">
                    <div class="text-center">
                        @if (item.ImgPerfil != null)
                        {

                            <img style="border-radius: 50%; width: 250px ;height:250px ;" id="imagenArtista" src="data:image/*;base64,@(Convert.ToBase64String(item.ImgPerfil))">
                            <h4><a name="filtroObra" asp-action="ListObra" asp-route-id="@item.Id" asp-controller="Artistas" class="list-group-item list-group-item-action list-group-item-dark"> @item.Apellido</a></h4>
                        }
                        else
                        {
                            <img id="imagenArtista" style="width:350px;height:350px; object-fit:cover">
                        }


                    </div>
                </div>
            }

        </div>
    </div>
</section>
