@model IEnumerable<ProyectoGaleria.Models.Artista>

@{
    ViewData["Title"] = "Listas de Obras";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>
    Listas de Obras
    <img src="~/img/logo.png" alt="" width="45" height="40">
</h1>



