<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] </title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/galeriaimg.css">
    <link rel="icon" type="image/x-icon" href="~/img/logo.png" sizes="64x64">

</head>
<body>
    <!--Navbar-->
    <header id="header" >
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light border-bottom box-shadow mb-3 w-100 justify-content-between fixed-top"  style="background-color: rgb(0,0,0);">
            <div class="nav navbar-expand-lg navbar-light font-weight-bolder w-100">
                <a  class="navbar-brand text-light" asp-area="" asp-controller="Home" asp-action="Index">
                    Galeria de Arte
                    <img src="~/img/logo.png" alt="" width="35" height="30">
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between m-auto " >
                    <ul class="navbar-nav flex-grow-1 font-weight-bold">

                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="Privacy">Acerca de</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-controller="Artistas" asp-action="Index">Agregar Artistas</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-controller="Artistas" asp-action="ListArtista">Artistas</a>
                        </li>
                      
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-controller="Contactos" asp-action="Index">Contacto</a>
                        </li>
                      
                    </ul>
                   
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>


    <!-- Footer -->
    <footer class="text-center text-lg-start bg-dark text-muted text-light">
        <!-- Section: Social media -->
        <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom text-light">
            <!-- Left -->
            <div class="me-5 d-none d-lg-block text-light">
                <span>Datos de Contacto:</span>
            </div>
            <!-- Left -->
            <!-- Right -->
            <div>
                <a href="" class="me-4 text-reset text-light">
                    <i class="fab fa-facebook-f"></i>
                </a>
                <a href="" class="me-4 text-reset">
                    <i class="fab fa-twitter"></i>
                </a>
                <a href="" class="me-4 text-reset">
                    <i class="fab fa-google"></i>
                </a>
                <a href="" class="me-4 text-reset">
                    <i class="fab fa-instagram"></i>
                </a>
                <a href="" class="me-4 text-reset">
                    <i class="fab fa-linkedin"></i>
                </a>
                <a href="" class="me-4 text-reset">
                    <i class="fab fa-github"></i>
                </a>
            </div>
            <!-- Right -->
        </section>
        <!-- Section: Social media -->
        <!-- Section: Links  -->
        <section class="">
            <div class="container text-center text-md-start mt-5 text-light">
                <!-- Grid row -->
                <div class="row mt-3">
                    <!-- Grid column -->
                    <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                        <!-- Content -->
                        <h6 class="text-uppercase fw-bold mb-4">
                            <i class="fas fa-gem me-3"></i>Galeria de Arte
                        </h6>
                        <p class="text-center">
                            Tenemos como prioridad apoyar el arte contemporáneo y moderno e investigar a los artistas históricos para mantener su memoria viva, con énfasis especial en la difusión del trabajo de artistas de nuestro país.
                        </p>
                    </div>
                    <!-- Grid column -->
                    <!-- Grid column -->
                    <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                        <!-- Links -->
                        <h6 class="text-uppercase fw-bold mb-4">
                            Redes Sociales
                        </h6>
                        <p>
                            <a href="#!" class="text-reset">Facebook</a>
                        </p>
                        <p>
                            <a href="#!" class="text-reset">Instagram</a>
                        </p>
                        <p>
                            <a href="#!" class="text-reset">Twitter</a>
                        </p>

                    </div>
                    <!-- Grid column -->
                    <!-- Grid column -->
                    <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
                        <!-- Links -->
                        <h6 class="text-uppercase fw-bold mb-4">Formas de Pago</h6>
                        <p>                                                       
                          <img src="~/img/footer/visa-logo-7.png" alt="" width="50" height="30">                       
                        </p>
                        <p>
                          <img src="~/img/footer/2560px-MasterCard_Logo.svg.png" alt="" width="50" height="30">
                        </p>
                        <p>
                            <img src="~/img/footer/mercadopago-nuevo-logo-12208FF614-seeklogo.com.png" alt="" width="50" height="30">
                        </p>
                        <p>
                            <img src="~/img/footer/pagofacilpng.png" alt="" width="50" height="30">
                        </p>
                    </div>
                    <!-- Grid column -->
                    <!-- Grid column -->
                    <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                        <!-- Links -->
                        <h6 class="text-uppercase fw-bold mb-4">
                            Contacto
                        </h6>
                        <p><i class="fas fa-home me-3"></i> Mar del Plata, Argentina</p>
                        <p>
                            <i class="fas fa-envelope me-3"></i>
                            infogaleriadearte@gmail.com
                        </p>
                        <p><i class="fas fa-phone me-3"></i> + 0223 234 567 88</p>
                        <p><i class="fas fa-print me-3"></i> + 0223 234 567 89</p>
                    </div>
                    <!-- Grid column -->
                </div>
                <!-- Grid row -->
            </div>
        </section>
        <!-- Section: Links  -->
        <!-- Copyright -->
        <div class="text-center p-4 bg-dark text-light" style="background-color: rgb(255 255 255);">
            © 2021 Copyright:
            <a class="text-reset text-light  fw-bold" href="https://www.linkedin.com/in/sergio-velazquez-855186165/">Sergio Velazquez Company</a>
        </div>
        <!-- Copyright -->
    </footer>
    <!-- Footer -->
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)

</body>
</html>
