@model IEnumerable<ProyectoGaleria.Models.Artista>

@{
    ViewData["Title"] = "Galeria de Arte";
}
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <!-- Bootstrap CSS -->
    <link href="~/css/site.css" rel="stylesheet" />
    <link href="~/css/galeriaimg.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Anton&family=Righteous&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Amaranth:ital,wght@1,700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display+SC&display=swap" rel="stylesheet">
    <style>
         .text-center #c {
            font-family: 'Amaranth', sans-serif;
            font-size: 50px;
        }
    </style>
</head>
<!-- Titulo

<div class="container" id="titulo">
    <h1 class="display-4 text-center">
        Galeria de Arte
        <img src="~/img/logo.png" alt="..." id="logo">
    </h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
    -->

<body>
    <!--Carousel-->
    <div class="carousel">
        <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">

                    <img class="d-block w-100" src="~/img/galeria1.jpg" alt="First slide">
                    <div class="carousel-caption">
                        <h3 id="bienvenidos">Bienvenidos</h3>
                        <p id="bienvenidos2">Galeria de Arte Online</p>
                    </div>
                </div>
                <div class="carousel-item">
                    <img class="d-block w-100" src="~/img/galeria4.jpg" alt="Second slide">
                    <div class="carousel-caption">
                        <h3 id="bienvenidos">Bienvenidos</h3>
                        <p id="bienvenidos2">Galeria de Arte Online</p>
                    </div>
                </div>
                <div class="carousel-item">
                    <img class="d-block w-100" src="~/img/galeria3.jpg" alt="Third slide">
                    <div class="carousel-caption">
                        <h3 id="bienvenidos">Bienvenidos</h3>
                        <p id="bienvenidos2">Galeria de Arte Online</p>
                    </div>
                </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Anterior</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Siguiente</span>
            </a>
        </div>
    </div>

    <!--
        section class="container" id="galeria">
        <div class="text-center">
            <h4>Nuestra Galeria</h4>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <div class="img-thumbnail">
                    <img src="~/img/tokyo2-011-d53df5a841ca00237d15547580952964-320-0.png" alt="" />
                    <h3>Titulo</h3>

                    <button type="button" class="btn btn-success">Comprar</button>
                </div>

            </div>
            <div class="col-lg-4">
                <img src="~/img/http___s3.amazonaws.com_imagenes-sellers-mercado-ripley_2020_05_21141302_CUADRO-LOICA.jpg" alt="" />
                <h3>Titulo</h3>
                <p>Lorem....</p>
                <button type="button" class="btn btn-success">Comprar</button>

            </div>
            <div class="col-lg-4">
                <img src="~/img/mundo.png" alt="" />
                <h3>Titulo</h3>
                <p>Lorem....</p>
                <button type="button" class="btn btn-success">Comprar</button>

            </div>
            <div class="col-lg-4">
                <img src="~/img/cactus-011-c5bd85746d87eb7fc415539795061157-320-0.png" alt="" />
                <h3>Titulo</h3>
                <p>Lorem....</p>
                <button type="button" class="btn btn-success">Comprar</button>

            </div>
            <div class="col-lg-4">
                <img src="~/img/playaazul-011-188a233309b00d36a015589046530499-320-0.png" alt="" />
                <h3>Titulo</h3>
                <p>Lorem....</p>
                <button type="button" class="btn btn-success">Comprar</button>

            </div>
            <div class="col-lg-4">
                <img src="~/img/2030180019583_2.jpg" alt="" />
                <h3>Titulo</h3>
                <p>Lorem....</p>
                <button type="button" class="btn btn-success">Comprar</button>

            </div>
        </div>
    </section>
        -->
</body>
</html>
<!--Galeria -->
<div class="text-center">
    <h2 id="c">NUESTRA GALERIA</h2>
</div>
<section id="gallery">
    <div class="container ">
        <div class="row">
            @foreach (var item in Model)
            {
                <div class="col-lg-4 mb-4">
                    <div class="card">
                        @if (item.Imagen != null)
                        {
                            <img id="imagenArtista" src="data:image/*;base64,@(Convert.ToBase64String(item.Imagen))">
                        }
                        else
                        {
                            <img id="imagenArtista" style="width:350px;height:350px; object-fit:cover" src="">
                        }
                    <div class="card-body">
                        <h5 class="card-title">Artista: @item.Nombre </h5>
                        <h5 class="card-text">Obra:  @item.Obra</h5>
                        <h4 class="precio">Precio:$@item.Precio</h4>

                        <a asp-action="Create" asp-controller="Contactos" class="btn btn-danger btn-sm">Consultar</a>

                    </div>
                    </div>
                </div>
            }

        </div>
    </div>
</section>
<!--ENVIOS-->
<div class="text-center">
    <h2 id="c">FORMAS DE ENVÍO</h2>
    <img id="envio" src="~/img/istockphoto-637864518-612x612.jpg" alt=""/>
    <h3 class="text-info">Envíos a domicilio a traves de Oca, hacemos envíos a toda ciudad de Mar del Plata y algunas localidades de la Provincia de Buenos Aires.<a asp-action="Create" asp-controller="Contactos"> Ponete en contacto con nosotros!</a> </h3>
</div>
<!--COMPRAR-->
<div class="text-center">
    <h2 id="c">COMO COMPRAR</h2>
    <img id="envio" src="~/img/comprar/comprar-seguridad-online.webp" alt="" />
    <h3 class="text-info">
        *Seleccioná el producto que queres comprar y hacé click en el botón Consultar.<br />
        *Y a la brevedad te damos una devolución.

    </h3>
</div>