@{
    ViewData["Title"] = "Acerca de";
}
<html>
<head>
    <link href="~/css/contacto.css" rel="stylesheet">
</head>
<div class="carousel">
    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">

                <img id="imag" class="d-block w-100" src="~/img/Tendencias-fotograficas-del-2021.png" alt="First slide">


                <p class="text-justify">
                    Somos una empresa dedicada a la producción, comercialización y servicios artisticos , conformamos un grupo de trabajo basado en la calidad, la responsanbilidad y la mejora contínua en nuestros productos.
                    Contamos con un equipo de trabajo profesional y especializado en las diferentes áreas y  junto con una fuerza de venta desarrolllamos nuestro producto y aseguramos la calidad de nuestro trabajo bajo certificaciones y auditorías de calidad.

                </p>

            </div>

        </div>
    </div>
</div>
</html>
