@{
    ViewData["Title"] = "Acerca de";
}
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Amaranth:ital,wght@1,700&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Playfair+Display+SC&display=swap" rel="stylesheet">
<style>
    .text-justify {
        font-family: 'Amaranth', sans-serif;
        font-size: 30px;
    }
</style>

<div class="carousel">
    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">

                <p class="text-justify">
                    Somos una empresa dedicada a la producción, comercialización y servicios artisticos , conformamos un grupo de trabajo basado en la calidad, la responsanbilidad y la mejora contínua en nuestros productos.
                    Contamos con un equipo de trabajo profesional y especializado en las diferentes áreas y  junto con una fuerza de venta desarrolllamos nuestro producto y aseguramos la calidad de nuestro trabajo bajo certificaciones y auditorías de calidad.

                </p>

            </div>

        </div>
    </div>
</div>

